@page "/NPS/Encuesta/noIdentificado"
@model WebEncuestaRespuesta.Pages.NPS.Encuesta.noReconocidoModel
@{
}

@{
    ViewData["Title"] = "Encuestas";
}

<div class="banbif-confirmacion">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <img src="/Images/Preview/icon-experiencia.png" alt="BanBif" height="145" width="145" />
            </div>
            <div class="col-12">
                <h2 class="texted-one">No se tienen los permisos para poder responder esta encuesta o no está disponible</h2>
            </div>
            <div class="col-12">
                <h4 class="texted-two">Muchas gracias por su atención!</h4>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        if (window.loadSurveyStyles) window.loadSurveyStyles();
    </script>
}