@page
@model WebBackOffice.Pages.Oficinas.AdminHoudiniModel


@{
    ViewData["Title"] = "Admin Houdini";
}

<div class="filters">

    <!-- HEADER -->
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-2 mb-4">
        <h3 class="fw-bold text-purple mb-0">
            <i class="bi bi-clipboard-check me-2"></i> Admin Houdini
        </h3>
    </div>

    <!-- FILTROS -->
    <form method="get">
        <div class="card shadow-sm mb-4">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">Filtros de búsqueda</h5>
            </div>
            <div class="card-body">
                <div class="row g-3 mb-2">

                    <div class="col-12 col-sm-6 col-md-3">
                        <label class="form-label">Buscar por nombre</label>
                        <input class="form-control"
                               asp-for="SearchTerm"
                               placeholder="Ingrese nombre..." />
                    </div>

                    <div class="col-md-6 col-sm-12 d-flex align-items-end gap-2">
                        <button type="submit" class="btn btn-primary">
                            Buscar
                        </button>

                        <a asp-page="./AdminHoudini"
                           class="btn btn-outline-secondary">
                            <i class="bi bi-x-circle me-1"></i> Limpiar filtros
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </form>

    <button class="btn btn-primary" onclick="nuevoProducto()">
        <i class="bi bi-plus-circle"></i> Nuevo Producto
    </button>
    <br />
    <br />
    <!-- LISTADO -->
    @if (Model.PagedProductos == null)
    {
        <div class="text-center my-5">
            <div class="spinner-border text-primary"></div>
            <div class="mt-2 text-muted">Cargando productos...</div>
        </div>
    }
    else if (!Model.PagedProductos.Any())
    {
        <div class="alert alert-warning text-center">
            No se encontraron productos.
        </div>
    }
    else
    {
        <div id="contenedorTabla">
            @await Html.PartialAsync("_TablaProductos", Model)
        </div>

    

    }
</div>


<!-- ================= MODAL ================= -->
<!-- MODAL PRODUCTO -->
<div  class="modal fade" id="modalProducto" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="modalTitulo">Nuevo Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <!-- FORM NECESARIO -->
                <form id="frmProducto" method="post">
                    @Html.AntiForgeryToken()

                    <input type="hidden" id="ProductoId" name="IdProducto" />

                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="Titulo">Título</label>
                            <input id="Titulo" name="Titulo" class="form-control required" />
                        </div>

                        <div class="col-md-6">
                            <label for="SubTitulo">Sub Título</label>
                            <input id="SubTitulo" name="SubTitulo" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <label for="Asunto">Asunto</label>
                            <input id="Asunto" name="Asunto" class="form-control" placeholder="Ej: Hola {Nombre}, tu producto está listo" />
                            <small class="text-muted d-block mt-1">
                                <i class="bi bi-info-circle"></i>
                                Usa <strong>{Nombre}</strong> para mostrar el nombre del cliente.
                                Este valor será reemplazado automáticamente al enviar el correo.
                            </small>
                        </div>

                        <div class="col-md-6">
                            <label for="Orden">Orden</label>
                            <input type="number"
                                   id="Orden"
                                   name="Orden"
                                   class="form-control required"
                                   min="1"
                                   step="1"
                                   placeholder="Ej: 1" />
                            <small class="text-muted">
                                El sistema ajustará automáticamente los demás productos
                            </small>
                        </div>
                        <div class="col-12">
                            <label for="FormatoCorreo" >Formato del correo (HTML)</label>
                            <textarea id="FormatoCorreo"
                                      class="form-control required"
                                      rows="6"
                                      name="FormatoCorreo">
                            </textarea>
                        </div>
                    </div>
                </form>

                <!-- MENSAJE -->
                @* <div id="mensajeModal" class="mt-3"></div> *@
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button class="btn btn-primary" type="button" onclick="guardarProducto()">
                    Guardar
                </button>
            </div>

        </div>
    </div>
</div>



<script>
    let modalProducto;

    document.addEventListener("DOMContentLoaded", function () {
        modalProducto = new bootstrap.Modal(
            document.getElementById('modalProducto')
        );
    });

    function nuevoProducto() {
        document.getElementById('modalTitulo').innerText = 'Nuevo Producto';

        document.getElementById('ProductoId').value = '';
        document.getElementById('Titulo').value = '';
        document.getElementById('SubTitulo').value = '';
        document.getElementById('Asunto').value = '';
        document.getElementById('Orden').value = '';
        document.getElementById('FormatoCorreo').value = '';




        modalProducto.show();
    }

       function editarProducto(id) {
        fetch(`?handler=ObtenerProducto&id=${id}`)
            .then(r => r.json())
            .then(p => {
                debugger;
                document.getElementById('modalTitulo').innerText = 'Editar Producto';

                document.getElementById('ProductoId').value = p.data.idProducto;
                document.getElementById('Titulo').value = p.data.titulo;
                document.getElementById('SubTitulo').value = p.data.subTitulo;
                document.getElementById('Asunto').value = p.data.asunto;
                document.getElementById('Orden').value = p.data.orden;
                document.getElementById('FormatoCorreo').value = p.data.formatoCorreo;

                modalProducto.show();
            })
            .catch(() => {
                mostrarMensaje('Error cargando el producto', 'danger');
            });
    }


          async function guardarProducto() {

        if (!ValidarFormulario("modalProducto")) {
            return;
        }

       // showLoading();

        try {
            const form = document.getElementById('frmProducto');
            const formData = new FormData(form);

             const data = await fetchConLoading(
                    '?handler=GuardarProducto',
                    {
                        method: 'POST',
                        body: formData
                    }                    
                );

            if (!data.isSuccess) {
              //  mostrarMensaje(data.message, 'danger');
                MuestraMensaje("ERROR.", data.message, "E")
                return;
            }
            MuestraMensaje("CORRECTO.", data.message, "OK")
            modalProducto.hide();

      
            await cambiarPagina(1);

        } catch (err) {
            console.error(err);
            
             MuestraMensaje("ERROR.","Error inesperado", "E")
        } 
    }


     function mostrarMensaje(texto, tipo) {
         document.getElementById('mensajeModal').innerHTML =
             `<div class="alert alert-${tipo}">${texto}</div>`;
     }

     
    // function desactivarProducto(id) {
    //     if (!confirm('¿Desactivar este producto?')) return;

    //     fetch(`/api/Oficinas/AdminHoudini/Desactivar/${id}`, {
    //         method: 'PATCH'
    //     })
    //     .then(r => r.json())
    //     .then(data => {
    //         alert(data.message);
    //         if (data.isSuccess) {
    //             cambiarPagina(1);
    //         }
    //     });
    // }

     function cambiarEstado(id, activar) {
        const texto = activar ? 'activar' : 'desactivar';

        if (!confirm(`¿Deseas ${texto} este producto?`)) return;

        showLoading();

        fetch(`?handler=CambiarEstadoProducto`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'RequestVerificationToken':
                    document.querySelector('input[name="__RequestVerificationToken"]').value
            },
            body: JSON.stringify({
                idProducto: id,
                activar: activar
            })
        })
        .then(r => r.json())
        .then(data => {
            if (!data.isSuccess) {
                mostrarMensaje(data.message, 'danger');
                return;
            }

            // 🔁 Cambiar botón dinámicamente
            const btn = document.getElementById(`btn-estado-${id}`);

            if (activar) {
                btn.className = 'btn btn-outline-danger btn-sm';
                btn.innerText = 'Desactivar';
                btn.onclick = () => cambiarEstado(id, false);
            } else {
                btn.className = 'btn btn-outline-success btn-sm';
                btn.innerText = 'Activar';
                btn.onclick = () => cambiarEstado(id, true);
            }
           MuestraMensaje("CORRECTO.", data.message, "OK")
         
        })
        .catch(() => {
           MuestraMensaje("ERROR.","Error inesperado", "E")
        })
        .finally(() => {
            hideLoading();
        });
    }

    function desactivarProducto(id) {
        if (!confirm('¿Deseas desactivar este producto?')) return;

        fetch(`?handler=DesactivarProducto&id=${id}`, {
            method: 'POST',
            headers: {
                'RequestVerificationToken':
                    document.querySelector('input[name="__RequestVerificationToken"]').value
            }
        })
        .then(r => r.json())
        .then(data => {
            mostrarMensaje(data.message, data.isSuccess ? 'success' : 'danger');

            if (data.isSuccess) {
                setTimeout(() => {
                    window.location.reload();
                }, 1200);
            }
        })
        .catch(() => {
            mostrarMensaje('Error inesperado', 'danger');
        });
    }


        async function activarProducto(id) {
        if (confirm("¿Estás seguro de que deseas activar este producto?")) {


        fetch(`?handler=DesactivarProducto&id=${id}`, {
            method: 'POST',
            headers: {
                'RequestVerificationToken':
                    document.querySelector('input[name="__RequestVerificationToken"]').value
            }
        })
        .then(r => r.json())
        .then(data => {
            mostrarMensaje(data.message, data.isSuccess ? 'success' : 'danger');

            if (data.isSuccess) {
                setTimeout(() => {
                    window.location.reload();
                }, 1200);
            }
        })
        .catch(() => {
            mostrarMensaje('Error inesperado', 'danger');
        });
        }
    }


    async function cambiarPagina(page) {
        const search = document.querySelector('[name="SearchTerm"]')?.value || '';

        const html = await fetch(
            `?handler=TablaProductos&pageNumber=${page}&searchTerm=${encodeURIComponent(search)}`
        ).then(r => r.text());

        document.getElementById('contenedorTabla').innerHTML = html;
    }

</script>

