@page
@model WebBackOffice.Pages.Oficinas.HoudiniExitoModel

<div class="container mt-5">
    <div class="card shadow-sm p-4 text-center">
        <h3>Ventas Digitales en Oficina</h3>

        <p>
            Las ofertas digitales fueron enviadas correctamente
            al correo del cliente.
        </p>

       
    </div>
</div>
